<?xml version="1.0" encoding="UTF-8" ?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="./vendor/autoload.php" colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
    <testsuite name="Test directory">
        <directory>tests</directory>
    </testsuite>
    <server name="MYSQL_HOST" value="127.0.0.1" />
    <server name="MYSQL_USER" value="root" />
    <server name="MYSQL_PASS" value="" />
    <server name="MYSQL_DBNAME" value="game_x_o" />
</phpunit>